﻿* {
    border-radius: 0px !important;
}

footer {
    text-align: center;
    margin-top: 40px;
    padding: 40px;
}

.header-menu {
    width: 250px;
    list-style: none;
    background: #222;
    box-shadow: 2px 0px 10px rgba(0,0,0,0,0.15);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding: 0;
}

.header-menu li {
    display: block;
}

.header-menu li i.fa {
    margin-right: 15px;
}

.header-menu li a {
    display: block;
    color: #fff;
    padding: 15px;
    font-weight: 300;
}

.header-menu li a:hover {
    background: #5bc0de;
    color: #fff;
    text-decoration: none;
}

.main {
    margin-left: 250px;
    padding-top: 40px;
}

.panel-primary>.panel-heading {
    color: #fff;
    background-color: #303F9F;
    border-color: #303F9F;
}

.btn-primary {
    color: #fff;
    background-color: #303F9F;
    border-color: #303F9F;
}

.p {
    padding: 6px 12px;
    display: inline-block;
}

.control {
    margin: 5px;
}

.search {
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    outline: none;
    width: 350px;
}