﻿body {
    background: #fff;
}

* {
    border-radius: 0px !important;
}

header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.fixed {
    position: fixed;
    top: 40px;
    width: 350px;
}

.menu, .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    display: inline-block;
}

.menu li a {
    padding: 5px 10px;
    display: block;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    color: #222;
    border-bottom: 2px solid transparent;
    margin-bottom: 0 !important;
}

.menu a:hover {
    color: #03A9F4;
    border-bottom-color: #03A9F4;
}

.menu a.active {
    border-bottom-color: #f05;
    color: #f05;
}

#body {
    margin-top: 30px;
    margin-bottom: 30px;
}

.listView {

}

.listView .row {
    margin-bottom: 5px;
    margin-top: 5px;
}

.listView li, .listView .listView-item {
    margin: 2px;
}

.listView a {
    display: block;
    text-decoration: none;
    padding: 5px;
    color: #222;
}

.listView a:hover {
    text-decoration: none;
    color: #03A9F4;
}

.social-network-link a {
    padding: 5px;
    text-decoration: none;
    color: #607D8B;
}

.fragment {
    margin: 10px auto;
}

.fragment .fragment-header {
    
}

.fragment .fragment-header .block-title {
    padding: 10px;
    color: #607D8B;
    font-size: 24px;
    position: relative;
}

.fragment .block-title:after {
    content: "";
    width: 100%;
    position: absolute;
    border-bottom: 1px solid #607D8B;
    bottom: 45%;
    left: 0;
    z-index: -1;
}

.fragment .fragment-header .block-title a {
    color: #607D8B;
    text-decoration: none;
    padding: 5px 10px;
    display: inline-block;
    background: #fff;
}

.fragment .fragment-header .block-title a:hover {
    color: #03A9F4;
}

.fragment .fragment-body {
    padding: 5px;
    background: #fff;
    padding-top: 15px;
}

#search-input {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    outline: none;
}

.btn-search {
    padding: 5px 15px;
    border: 1px solid rgba(0,0,0,0.15);
    display: inline-block;
    border-radius: 5px;
    margin: 4px;
    cursor: pointer
}

.btn-search:hover {
    border: 1px solid #03A9F4;
    color: #03A9F4;
}